/*** SCENERY VIEW ***/

#view2 {
	background: url(../gfx/interface/viewBackground.png);
	display: none;
}







.scenerySlot {
	width: 110px;
	height: 61px;
	position: absolute;
	background: rgb( 80, 80, 80 ) url(../gfx/view1/slotBg.png) 0 15px repeat-x;
}

#scenerySlot0 { background-image: url(../gfx/view2/slot0.png); }
#scenerySlot1 { background-image: url(../gfx/view2/slot1.png); }
#scenerySlot2 { background-image: url(../gfx/view2/slot2.png); }
#scenerySlot3 { background-image: url(../gfx/view2/slot3.png); }
#scenerySlot4 { background-image: url(../gfx/view2/slot4.png); }
#scenerySlot5 { background-image: url(../gfx/view2/slot5.png); }
#scenerySlot6 { background-image: url(../gfx/view2/slot6.png); }
#scenerySlot7 { background-image: url(../gfx/view2/slot7.png); }
#scenerySlot8 { background-image: url(../gfx/view2/slot8.png); }


.scenerySlot .title {
	color: rgb( 215, 215, 215);
	font-size: 9px;
	position: absolute;
	top: 1px;
	left: 2px;
}

.scenerySlot .image {
	width: 48px;
	height: 31px;
	position: absolute;
	top: 15px;	
	background-repeat: no-repeat;
	background-position: center;
	/* background-image: url(../gfx/aquarium/fishes/fish2R.png); */
}

.scenerySlot .money {
	color: rgb( 25, 25, 25);
	font-size: 10px;
	position: absolute;
	top: 24px;
	left: 65px;
	width: 40px;
	text-align: center;
}

.scenerySlot  .button {
	color: rgb( 25, 25, 25 );
	background: rgb( 179, 167, 143 );
	font-size: 10px;
	position: absolute;
	top: 46px;
	width: 53px;
	height: 13px;
	text-align: center;
	border: 1px solid rgb( 80, 80, 80 );
	cursor: hand;
}

.scenerySlot  .button.on:hover {
	background: rgb( 255, 238, 204 );
}

.scenerySlot  .button.on:active {
	border-width: 2px;
	width: 51px;
	height: 11px;
	background: rgb( 179, 167, 143 );
}

.scenerySlot  .sell:after {
	content: "Sell";
}
.scenerySlot  .sell {
	left: 55px;
}

.scenerySlot  .buy:after {
	left: 0;
	content: "Buy";
}

.scenerySlot  .choose:after {
	left: 0;
	content: "Choose";
}

.off {
	cursor: default !important;
	opacity: 0.2;
}



#scenerySlot0 { top: 37px; left: 9px; }
#scenerySlot1 { top: 37px; left: 125px; }
#scenerySlot2 { top: 37px;	left: 241px; }
#scenerySlot3 { top: 104px; left: 9px; }
#scenerySlot4 { top: 104px; left: 125px; }
#scenerySlot5 { top: 104px; left: 241px; }
#scenerySlot6 { top: 171px; left: 9px; }
#scenerySlot7 { top: 171px; left: 125px; }
#scenerySlot8 { top: 171px; left: 241px; }