/*** FISH SHOP VIEW ***/

#view1 {
	background: url(../gfx/interface/viewBackground.png);
	display: none;
}

#newFishTime {
	color: rgb( 215, 215, 215);
}

.fishSlot {
	width: 110px;
	height: 61px;
	position: absolute;
	background: rgb( 80, 80, 80 ) url(../gfx/view1/fishSlotBackground.png) 0 15px no-repeat;
}

.fishSlot .title {
	color: rgb( 215, 215, 215);
	font-size: 9px;
	position: absolute;
	top: 1px;
	left: 2px;
}

.fishSlot .image {
	width: 48px;
	height: 31px;
	position: absolute;
	top: 15px;	
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../gfx/aquarium/fishes/fish2R.png) ;
}

.fishSlot .money {
	color: rgb( 25, 25, 25);
	font-size: 10px;
	position: absolute;
	top: 24px;
	left: 50px;
	width: 40px;
	text-align: center;
}

.fishSlot .number {
	color: rgb( 25, 25, 25);
	font-size: 10px;
	position: absolute;
	top: 24px;
	left: 96px;
	width: 14px;
	text-align: center;
}

.fishSlot  .button {
	color: rgb( 25, 25, 25 );
	background: rgb( 179, 167, 143 );
	font-size: 10px;
	position: absolute;
	top: 46px;
	width: 53px;
	height: 13px;
	text-align: center;
	border: 1px solid rgb( 80, 80, 80 );
	cursor: hand;
}

.fishSlot  .button:hover {
	background: rgb( 255, 238, 204 );
}

.fishSlot  .button:active {
	border-width: 2px;
	width: 51px;
	height: 11px;
	background: rgb( 179, 167, 143 );
}

.fishSlot  .info:after {
	left: 0;
	content: "Info";
}

.fishSlot  .buy:after {
	content: "Buy";
}
.fishSlot  .buy {
	left: 55px;
}

#fishSlot0 { top: 37px; left: 9px; }
#fishSlot1 { top: 37px; left: 125px; }
#fishSlot2 { top: 37px;	left: 241px; }
#fishSlot3 { top: 104px; left: 9px; }
#fishSlot4 { top: 104px; left: 125px; }
#fishSlot5 { top: 104px; left: 241px; }
#fishSlot6 { top: 171px; left: 9px; }
#fishSlot7 { top: 171px; left: 125px; }
#fishSlot8 { top: 171px; left: 241px; }


